.active{
    background-color: orangered;
}

.conteudo{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 2%;
}
/* .conteudo h1, nav h1{
    display: inline-block;
    padding: 1%;
    line-height: 50%;
    margin-top: 1%;
    color: orangered;
} */

.conteudo h1{
    display: inline;
    padding: 5px;
    line-height: 50px;
    border-radius: 10px;
    background-color: orangered;
}

.conteudo p{
    display: inline-block;
    margin-top: 3%;
    padding: 1%;
    margin: auto;
}

.conteudo .table{
    background-color: rgba(0, 0, 0, 0.767);
}

.btn{
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px 13px;
    color: rgb(0, 0, 0);
    background-color: orangered;
    cursor: pointer;
    margin: 10px;
}

.table{
    border-radius: 5px;
    background-color: rgba(202, 187, 187, 0.514);
}

footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 0.4rem;
    margin-top: 4%;
    position: absolute;
    bottom: 0; 
    width: 100%;
    color: rgb(255, 145, 0);
}
