.active{
    background-color: rgba(255, 94, 0, 0.884);
    border-radius: 10px;
}

.conteudo{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 2%;
}

.conteudo h1{
    display: inline;
    padding: 5px;
    line-height: 50px;
    border-radius: 10px;
    /* background-color: rgba(255, 94, 0, 0.884); */
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

/* .conteudo p{  //não está sendo usado
    display: inline-block;
    margin-top: 3%;
    padding: 1%;
    margin: auto;
} */

/* .conteudo .table{
    padding: 50px;
    text-align: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.767);
} */

a, a:hover{
    text-decoration: none;
    color: white;
}

table, th, td{
    border: 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

select{
    width: auto;
    border-radius: 10px;
}

.btn{
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 81, 0);
    cursor: pointer;
    margin: 10px;
}

.table{
    border-radius: 5px;
    background-color: rgba(29, 27, 27, 0.514);
}

.table a{
    color: rgb(238, 11, 11);
}

footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 0.4rem;
    bottom: 8; 
    width: 100%;
    color: rgb(255, 145, 0);
}