body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/img/alunos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.wrapper{
    min-height: 30rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}
nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}
nav ul li:hover{
    background-color: coral;
    color:#000;
    font-weight: bold;
    font-size: 1.2rem;
}
.conteudo{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}
.conteudo h1{
    color: #fff;
    line-height: 50px;
}
.conteudo2{
    margin-top: 5%;
    margin-bottom: 2%;
}
.conteudo2 button{
     padding: 0.7rem 2rem;
     margin-right: 5rem;
     font-size: 1.2;
     border-radius: 10px;
     background-color: orangered;
     padding: 0.7rem 1rem;
     color: #fff;
     border: none;
}
.conteudo2 button:hover{
    cursor: pointer;
    background-color: coral;
}
footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 0.4rem;
    margin-top: 4%;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #282828;
    display: flex;
    align-items: center;
}