
.conteudo{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}
.conteudo h1{
    color: #fff;
    line-height: 50px;
}
.conteudo2{
    margin-top: 5%;
    margin-bottom: 2%;
}
.conteudo2 a{
    text-decoration: none; 
    padding: 5%;
    margin: 1%;
    display: inline-block;
    font-size: 1.2;
    border-radius: 10px;
    background-color: orangered;
    color: #fff;
    border: none;
}
.conteudo2 a:hover{
    cursor: pointer;
    background-color: coral;
}
footer{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding: 0.4rem;
    margin-top: 4%;
    position: absolute;
    bottom: 0; 
    width: 100%;
    color: rgb(255, 145, 0);
}
